/******************
** LAYOUT 
*******************/ 
header{
	position:fixed;
	width:100%;
	top:0px;
	display:inline-flex;
	flex-wrap:wrap;
    justify-content: space-around;
	/*FIXME: CHANGE THE BACKGROUND COLOR*/
	background-color:#f4f9f4;

}
.main-menu ul li
{
	display:inline-block;
	padding:10px;
}



/******************
** BASE 
*******************/ 
h1, li a{
	color:#5c8d89;
	font-family: 'Love Ya Like A Sister', cursive;
}

h1{
	font-size: 40px;
}


nav{
	margin-top:20px;
	font-size: 20px;
}

/******************
** MODULE 
*******************/ 
.main-menu ul{
	list-style-type:none;
}

a.main-menu{
	text-decoration:none;
}