/*CSS organization techniques: SMACSS
 *Outline:
  - Layout
  - Base
  - Module
 */
/******************
** LAYOUT 
*******************/ 
.container{
	margin: 0 auto;
	width:90%;
	max-width:960px;
	position: relative;
}

/******************
** BASE
*******************/ 
a{
	text-decoration: none;
}

a:hover{
	color:#ffe3b0;
}

main{
	display: flex;
	flex-wrap:wrap;
}

ul{
	list-style-type: none;
	font-family: 'Josefin Slab', serif;
	line-height:1.8em;
}

button{
	margin:20px 0px 20px 240px;
    border: dotted 2px #d9d9d9;
    border-radius:20px;
    padding:20px 40px 20px 40px;
    background-color:#f0ece2;
    text-decoration: none;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 25px;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #ffc1c8;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}


/******************
** MODULE 
*******************/ 
section.common{
	margin-right:30px;
}
.common h2{
	color:#74b49b;
	font-family: 'Josefin Slab', serif;
	font-weight: bold;
	font-size:20px;
	margin-left:30px;
}
.odd h2{
	color:#f9989f;
	font-family: 'Josefin Slab', serif;
	font-weight: bold;
	font-size:20px; 
	margin-left:10px;
	margin-top:30px;
}
.common ul li{
	color:#5c8d89;
}
.odd ul li{
	color:#c06c84;
}
.slider {
	text-align: center;
}
